.modal {
    display: block;
    background: #284350;
    width: 50%;
    border-radius: 10px;
    padding: 40px 5vw;
    text-transform: uppercase;
    transform: translateY(100vw);
    opacity: 0;
}

.modal_overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

/* modal transitions */
.modal.modal_show {
    opacity: 1;
    transition: all 0.4s ease-in-out;
    transform: translateY(0px);
}

.modal.modal_hide {
    transform: translateY(100vw);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.modal_overlay.modal_show {
    opacity: 1;
    transition: all 0.4s ease;
}

.modal_overlay.modal_hide {
    opacity: 0;
    transition: all 0.5s ease;
}

.modal_header {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    /* padding: 30px 0; */
}

.modal_header h2,.modal_header h3 {
    display: inline-block;
    letter-spacing: 2px;
    padding: 10px 0;
    font-size: calc(22px + 0.5vw);
}

.modal_header h2 {
    color: var(--greyColor);
}

.modal_body {
    padding: 10px;
    width: 100%;
    margin: auto;
}

.modal_btn_container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal_btn_container button {
    letter-spacing: 2px;
    margin: 0 20px;
    padding: 20px;
}

.quit_btn {
    background-color: var(--greyColor);
    box-shadow: 0px 5px 1px 1px rgb(93, 115, 117);
}

.new_round_btn {
    background-color: var(--circleColor);
    box-shadow: 0px 5px 1px 1px rgb(170, 129, 23);
}

.modal button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.modal_result h5{
    letter-spacing: 2px;
    color: var(--greyColor);
    margin-bottom: 30px;
}

.modal_winner_declaration {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.modal_winner_declaration h3 {
    font-size: calc(30px + 0.3vw);
}

.modal_cross {
    color: #1fb8ff;
}

.modal_circle {
    color: #ffb300;
}

@media only screen and (max-width: 800px) {
    .modal {
        width: 80%;
        padding: 20px 4vw;
    }
}

@media only screen and (max-width: 500px) {
    .modal {
        border-radius: 0;
        width: 100%;
        padding: 20px 10px;
    }
}